.filter {
  background: #ffffff;
  font-size: 12px;
  color: #4a4a4a;
  border: 1px solid #dfe5ec;
  border-radius: 10px;
  display: inline-block;
  overflow: hidden;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
  margin: 10px;
}
.filter__label {
  cursor: pointer;
  display: inline-block;
}
.filter__label__input[type=radio] {
  display: none;
}
.filter__label__title {
  font-family: "Open Sans";
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  padding: 0px 15px;
  line-height: 35px;
  border-right: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: 0.7s;
}
.filter__label__title:hover {
  background-color: #f1fcff;
  transition: 0.7s;
  opacity: 1;
}
.filter__label__input[type=radio]:checked + .filter__label__title {
  background: #2196f3;
  color: #ffffff;
}