.transfers-count {
  width: 230px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px 0;
  font-family: 'Caustom Font';
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  max-height: 230px;
  left: 190px;
  &__title {
    font-size: 12px;
    margin-left: 12px;
    color: #4a4a4a;
  }
  &__group {
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 840px) {
  }
  &__label {
    padding: 10px;
    cursor: pointer;
    transition: 0.7s;
    opacity: 0.8;
    font-size: 13px;
    color: #4a4a4a;
    display: flex;
    align-items: center;
    &:hover {
      background-color: #f1fcff;
      transition: 0.7s;
      opacity: 1;
    }
    &__title {
      margin-left: 10px;
    }
  }
}

@media (max-width: 840px) {
  .transfers-count {
    width: 200px;
    &__group {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}
