@font-face {
  font-family: 'Open Sans';
  src: url(../../font/OpenSans.ttf);
}

body {
  background-color: #e5e5e5;
  min-width: 100vh;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  margin-top: 50px;
  &__logo {
    max-width: 80px;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  min-width: 70%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
