.ticket {
  background-color: #ffffff;
  border: 1px solid #dfe5ec;
  border-radius: 10px;
  padding: 1em;
  font-family: 'Open Sans';
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
  margin: 0 10px;
  &__essentials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    &__price {
      color: #2196f3;
      font-weight: 900;
      font-size: 24px;
    }
  }

  &__data {
    display: flex;
    margin: 14px 5px;
    &__flight {
      display: flex;
      flex-direction: column;
      min-width: 120px;
      margin-right: 10px;
      &__path {
        color: #a0b0b9;
        font-size: 12px;
        font-weight: 900;
        padding: 2px 0;
      }
      &__time {
        color: #4a4a4a;
        font-size: 14px;
        font-weight: 600;
        padding: 2px 0;
      }
    }
    &__duration {
      display: flex;
      flex-direction: column;
      min-width: 120px;
      margin-right: 10px;
      &__inscription {
        color: #a0b0b9;
        font-size: 12px;
        font-weight: 900;
        padding: 2px 0;
      }
      &__length {
        color: #4a4a4a;
        font-size: 14px;
        font-weight: 600;
        padding: 2px 0;
      }
    }
    &__transit {
      display: flex;
      flex-direction: column;
      min-width: 120px;
      margin-right: 10px;
      &__count {
        color: #a0b0b9;
        font-size: 12px;
        font-weight: 900;
        padding: 2px 0;
      }
      &__location {
        color: #4a4a4a;
        font-size: 14px;
        font-weight: 600;
        padding: 2px 0;
      }
    }
  }
}
